.item {
  width: 350px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border: 2px solid #325987;
  border-radius: 16px;
  box-shadow: 2px 2px 8px #325987;
  padding: 12px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(233, 53, 53);
}

.isOnline {
  background-color: rgb(52, 164, 99);
}

.avatar {
  width: 80px;
  height: 80px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
}

.name {
  width: 260px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.96px;
}
